<%= render 'partials/banner' %>

<div class="index-wrapper">
  <div class="index-map">
    <div id="map" style="width: 100%; height: 400px;" data-markers="<%= @markers.to_json %>"></div>
  </div>
  <% @workouts.each do |workout| %>
    <div class="col col-xs-12 col-sm-12 col-md-4">
      <div class="card">
        <div class="front" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'placeholder.jpg'%>); background-size: cover; border-radius: 10px">
          <header>
            <%= image_tag 'profile_placeholder.svg', id:"avatar" %>
            <%= image_tag 'kettlebell.svg', id: "category"%>
          </header>
          <h3><%= workout.name %></h3>
          <p> <%= workout.location %> </p>
        </div>
        <div class="back">
          <header>
            <%= image_tag 'profile_placeholder.svg', id:"avatar" %>
            <%= image_tag 'kettlebell.svg', id: "category"%>
          </header>
          <ul>
            <li><strong>location: </strong><%= workout.location %></li>
            <li><strong>time: </strong><%= workout.time ? workout.nicetime : "This trainer has not set a time" %></li>
            <div>Tags</div>
            <div class="tag-container">
              <div>
                <% workout.tag_list.each do |tag| %>
                  <%= link_to root_path do %>
                    <div class="btn btn-success btn-sm"><%= tag %></div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </ul>
          <%= link_to workout_path(workout) do  %>
            <span class="btn btn-primary">Click for more info</span>
          <% end %>
          <%= image_tag 'kettlebell.svg', id: "category"%>
        </header>
        <ul>
          <li><strong>location: </strong><%= workout.location %></li>
          <li><strong>time: </strong><%= workout.time ? workout.nicetime : "This trainer has not set a time" %></li>
          <div><strong>Tags:</strong></div>
          <div class="tag-container">
            <div><% workout.tag_list.each do |tag| %>
                <%= link_to root_path do %>
                  <div class="btn btn-success btn-sm"><%= tag %></div>
                <% end %>
              <% end %></div>
          </div>
        </ul>
        <%= link_to workout_path(workout) do  %>
          <span class="btn btn-primary">Click for more info</span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>