<h1 class="text-center">New Workout</h1>
<div class="col col-sm-8 col-sm-offset-2"><%= simple_form_for(@workout) do |f| %>
    <%= f.input :name, required: true, placeholder: 'e.g. Yoga' %>
    <%= f.input :description, placeholder: 'e.g. Improve your flexibility' %>
    <%= f.input :photo, required: true %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :location, required: true %>
    <%= f.input :time, required: true %>
    <%= f.input :max_participants %>
    <%= f.button :submit, class:"btn btn-danger" %>
  <% end %>
</div>