<div class="form-wrapper">
  <h2 class="text-center form-title">New Workout</h1>
  <div class="col col-sm-8 col-sm-offset-2"><%= simple_form_for(@workout) do |f| %>
      <%= f.input :name, required: true, placeholder: 'e.g. Yoga' %>
      <%= f.input :description, placeholder: 'e.g. Improve your flexibility' %>
      <%= f.input :tag_list, as: :check_boxes, :inline_label => true, collection: ["Bodyweight", "Weighted", "Gymnastics", "Yoga", "Group", "Outdoor", "Indoor", "Advanced", "Intermediate", "Beginner"] %>
      <%= f.input :photo, required: true %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.input :location, required: true, placeholder: "158 Julu Road, Shanghai" %>
      <%= f.input :time, required: true, minute_step: 15, wrapper_html: { class: "form-inline form-inputs" } %>
      <%= f.input :max_participants %>
      <%= f.button :submit, class:"button-signup btn-block" %>
    <% end %>
  </div>
</div>