<div class="space" style="margin-top: 70px"></div>
<div class="workouts-show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= @workout.photo? ? (cl_image_path @workout.photo, height: 500, width: 800, crop: :fill) : (cl_image_path 'placeholder.jpg') %>');">
</div>
<div class="workouts-show-wrapper">
  <div class="workouts-show-container-left">
    <div class="workouts-show-container-left-top">
      <h1><%= @workout.name %></h1>
      <p>Description: <%= @workout.description %></p>
    </div>
    <div class="workouts-show-container-left-bottom">
      <p>Place: <%= @workout.location %></p>
      <p>Time: <%= @workout.time %></p>
      <p>Tags: <%= @workout.tag_list %></p>
    </div>
  </div>
  <div class="workouts-show-container-right">
    <div class="workouts-show-container-right-top">
      <h2>Trainer: <%= @workout.user.first_name %></h2>
    </div>
    <div class="workouts-show-container-right-bottom">
      <h3>Participants</h3>
      <% @workout.bookings.each do |booking| %>
        <ul>
          <li>
            <%= link_to booking.user.first_name, user_path(booking.user) %>
            <%= cl_image_tag booking.user.photo, radius: 20, width: 50, height: 50, crop: :thumb, gravity: :face %>
          </li>
        </ul>
      <% end %>
    </div>
    <%= button_to "Join", workout_bookings_path(@workout) %>
  </div>
</div>