<div class="space" style="margin-top: 70px"></div>
<div class="workouts-show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= @workout.photo? ? (cl_image_path @workout.photo, height: 500, width: 800, crop: :fill) : (image_path 'placeholder.jpg') %>');">
</div>
<div class="workouts-show-wrapper">
  <div class="workouts-show-container-top">
    <div class="workouts-show-container-left">
      <div class="workouts-show-container-left-top">
        <h1><%= @workout.name %></h1>
        <p><%= @workout.description %></p>
        <p><strong>Place:</strong> <%= @workout.location %></p>
        <p><strong>Time:</strong> <%= @workout.nicetime %></p>
        <p><strong>Tags:</strong> <%= @workout.tag_list %></p>
      </div>
      <div class="workouts-show-container-left-bottom">
        <h2>Trainer: <%= @workout.user.first_name %></h2>
        <p>Here is a description of the trainer.</p>
      </div>
      <div class="workouts-show-container-left-bottom-bottom">
        <h3>Participants</h3>
        <% @workout.bookings.each do |booking| %>
          <ul>
            <li>
              <%= link_to booking.user.first_name, user_path(booking.user) %>
              <%= cl_image_tag booking.user.photo, radius: 20, width: 50, height: 50, crop: :thumb, gravity: :face %>
            </li>
          </ul>
        <% end %>
        <%= button_to "Join", workout_bookings_path(@workout) %>
      </div>
    </div>
    <div class="show-map">
      <div id="map" style="width: 100%; height: 70vh;" data-markers="<%= @markers.to_json %>"></div>
    </div>
  </div>
  <div class="workouts-show-container-bottom">
    <h3>Related Workouts</h3>
    <% @related_workouts.each_with_index do |workout, index| %>
      <% if index < 3 %>
        <div class="col col-xs-12 col-sm-12 col-md-4">
          <%= link_to workout_path(workout) do  %>
            <div class="relative-card">
              <div class="front" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'placeholder.jpg'%>); background-size: cover; border-radius: 10px">
                <header>
                  <%= image_tag 'profile_placeholder.svg', id:"avatar" %>
                  <%= image_tag 'kettlebell.svg', id: "category"%>
                </header>
                <h3><%= workout.name %></h3>
                <p> <%= workout.location %> </p>
              </div>
              <div class="back">
                <ul>
                  <li><strong>location: </strong><%= workout.location %></li>
                  <li><strong>time: </strong><%= workout.time ? workout.nicetime : "This trainer has not set a time" %></li>
                </ul>
                <span>Click for more info</span>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
      <% end %>
    <% end %>
  </div>
</div>