<div class="nav-margin"></div>
<h1><%= @user.first_name %></h1>
<h3>Location: <%= @user.location %></h3>
<%= link_to "Edit your account", edit_user_registration_path %>
<h3>Your workouts</h3>
<% @user.workouts.each do |workout| %>
  <ul>
    <li>
      <%= link_to workout.name, workout_path(workout) %>
      <%= workout.description %>
      <%= workout.location %>
      <%= workout.time %>
    </li>
  </ul>
<% end %>