<div class="nav-margin"></div>
<div class="user-wrapper">
  <%= cl_image_tag @user.photo, height: 300, width: 400, crop: :fill
    %>
  <div class="user-container">
    <h1><%= @user.first_name %></h1>
    <h4><%= @user.location %></h4>
    <p> <%= @user.bio %></p>
    <h3>Your workouts</h3>
    <% @user.workouts.each do |workout| %>
      <ul>
        <li>
          <%= link_to workout.name, workout_path(workout) %>
          <%= workout.description %>
          <%= workout.location %>
          <%= workout.time %>
        </li>
      </ul>
    <% end %>
    <h3>Your Bookings</h3>
    <% @user.bookings.each do |booking| %>
      <ul>
        <li>
          <%= link_to booking.workout.name, workout_path(booking.workout) %>
        </li>
      </ul>
    <% end %>
    <%= link_to "Edit your account", edit_user_registration_path %>
  </div>
</div>