<div class="space" style="margin-top: 70px"></div>
<%= video_tag "Acro.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
<div class="user-show-wrapper">
  <div class="user-show-image">
    <%= cl_image_tag @user.photo, width: 150, height: 150 %>
    <h2><%= @user.first_name %></h2>
    <p><%= @user.bio %></p>
  </div>
  <div class="user-show-created">
    <h4>My Created Workouts...</h4>
    <% @user.workouts.each do |workout| %>
      <% link_to workout_path(workout) do %>
        <p><%= workout.name %></p>
      <% end %>
    <% end %>
  </div>
  <div class="user-show-booked">
    <h4>My Bookings...</h4>
    <% @user.bookings.each do |booking| %>
      <% link_to workout_path(booking.workout) do %>
        <p><%= booking.workout.name %></p>
      <% end %>
    <% end %>
  </div>
</div>